@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 0;
}
a {
  color: white !important;
  text-decoration: none;
}
a:visited {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color: #616c6f;
  border-bottom: 3px solid darkgoldenrod;
}
.navbar {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px 40px !important;
  align-items: center !important;
}
.branding {
  display: flex;
}
.navbar-brand {
  font-size: 3.5em !important;
  color: aliceblue;
  padding: 0;
  font-family: "Bubblegum Sans", "Roboto", sans-serif;
}
.nav-link-list {
  list-style-type: none;
  display: flex;
}
.nav-item {
  padding: 0 1em !important;
  font-size: 1.5em !important;
  font-weight: 800 !important;
  font-family: "Raleway", sans-serif;
}
.nav-item .nav-link {
  text-decoration: none;
  color: white !important;
}
.header-image {
  width: 100%;
  height: 90vh;
  image-rendering: pixelated;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.overlay-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold !important;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.section-heading {
  margin-top: 1.5em;
  font-size: 2.75em;
  font-weight: bold;
  border-bottom: 3px solid darkgoldenrod;
  margin-bottom: 15px;
}

.about-list {
  display: flex;
  justify-content: space-between !important;
  list-style-type: none;
}

.about-list li {
  display: flex;
  background-color: #f0f2f6;
  flex-direction: column;
  align-items: center;
  font-size: 1.15em;
  padding: 0.75em;
}
.about-list li p {
  padding-top: 15px;
  text-align: center;
}
.img-list {
  width: 100px !important;
  height: 100px !important;
}
.descrip {
  display: flex;
  justify-content: space-between;
}
.area-of-expert-list {
  list-style-type: none;
}
.area-of-expert-list li {
  display: flex;
}
.area-of-expert-list li p {
  padding: 5px;
}
.img-tick {
  width: 50px !important;
  height: 50px !important;
}
.img-achv {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}
.area-of-expert-list li {
  font-size: 1.5em;
  padding: 0.25em;
}

.main-footer {
  background-color: #252525;
  height: 300px;
  display: flex;
  margin: 0 auto !important;
  justify-content: space-between !important;
}
.footer-color {
  background-color: #252525;
}
.heading {
  font-size: 1.85em;
  color: turquoise;
  font-weight: bolder;
  padding: 1em;
}
.link-list {
  display: flex;
  flex-direction: column;
}
.link-list li {
  list-style-type: none;
  color: #f1f1f1;
  font-size: 1.12em;
  margin-left: 30px;
  padding: 0 0.35em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 991px) {
  .about-list {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    list-style-type: none;
    margin: 0 auto;
  }
  .about-list li {
    margin: 20px auto;
  }
  .descrip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-footer {
    flex-direction: column;
    height: 100%;
  }
  .overlay-text {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
